
.experiences {
    .experience {
        display: flex;
        margin: 10px 0;

        .timePeriod {
            display: inline-block;
            width: 140px;
            flex: 0 0 auto;
        }

        .content {
            display: inline-block;
            flex: 1 1 auto;
            text-align: justify;
        }

        .title {
            font-weight: bold;
        }

        .description {
            padding-inline-start: 20px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .b {
            font-weight: bold;
        }
    }
}